body {
  background-color: black;
}

#digital_clock {
  font-family: 'Orbitron', sans-serif;
  color: #BB9CFC;
  font-size: 100px;
  text-align: center;
  padding: 40px;
  margin: 80px;
  border: 5px solid;
  border-radius: 150px;
}

/* color: #E8C7C8; */
